language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
install:
  - pip install pipenv
  - pipenv --version
  - pipenv install
  - pipenv install --dev
script: pipenv run py.test tests --cov-report term-missing --cov pypac
after_success:
  - coveralls
