[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"js2py" = "*"
requests = "*"
tld = "*"
"e1839a8" = {path = ".", editable = true}


[dev-packages]

pytest = "*"
mock = "*"
pytest-cov = "*"
tox = "*"
sphinx = "*"
coveralls = "*"
funcsigs = "*"
twine = "*"
