[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
tld = "*"
"e1839a8" = {path = ".", editable = true}
dukpy = "*"

[dev-packages]
pytest = "*"
mock = "*"
pytest-cov = "*"
tox = "*"
sphinx = "*"
coveralls = "*"
funcsigs = "*"
twine = "*"
